<!DOCTYPE html>
<html xmlns:th=http://thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Registered LogisticCompanies:</h4>
<div class="col-6">
    <h3 th:unless="${logisticcompanies} and ${logisticcompanies.size}">There are no logistic companies</h3>
    <table th:if="$logisticcomapnies.size()>0" class="table table-hover">
        <th>Id</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <tr th:each="logisticcompany : ${logisticcompanies}">
            <td th:text="${school.id}"></td>
            <td th:text="${school.name}"></td>
            <td><a class="btn btn-info" th:href="@{'/logisticcompanies/edit-logisticcompanies/'+${logisticcompany.id}}">Edit</a></td>
            <td><a class="btn btn-danger" th:href="@{'/logisticcompanies/delete'+${logisticcompany.id}}">Delete</a></td>

        </tr>
    </table>
</div>